package components

import "news-fullstack/views/types"

templ ArticlesRow(articles []types.ArticleCard) {
	@ArticlesRowStyle()
	<div class="articles-section">
		@Title("Последние новости")
		<div class="articles-grid">
			for _, article := range articles {
				@ArticleCard(article)
			}
		</div>
	</div>
}

templ ArticlesRowStyle() {
	<style>
        .articles-section {
            margin: 40px 0;
        }

        .articles-grid {
            display: grid;
            grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
            gap: 24px;
        }
    </style>
}
