:root{
    --color-white: #FFFFFF;
    --color-black: #000000;
    --color-primary: #FC4308;
    --color-primary-hover: #ce3806;
    --color-text:#3E3232;
    --color-gray:#5a5a5a;
}
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.main-content {
    flex: 1;
    max-width: 1500px;
    margin: 0 auto;
    width: 100%;
    padding: 0 20px;
    box-sizing: border-box;
}